<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;database=strutsproject</property>
        <property name="hibernate.connection.username">SA</property>
        <property name="hibernate.connection.password">SQLServ3r</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <!--property name="hbm2ddl.auto">create</property-->
        <mapping class="com.example.struts2.model.Users"/>
    </session-factory>
</hibernate-configuration>
