<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/app.log" filePattern="logs/app-%d{yyyy-MM-dd}.log" >
            <PatternLayout>
                <pattern>%d %-5p [%t] %C{2} (%F:%L) - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="com.opensymphony.xwork2" level="INFO"/>
        <Logger name="org.apache.struts2" level="INFO"/>
        <Logger name="org.apache.struts2.edit" level="DEBUG"/>
        <Root level="DEBUG">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>